body{
    background-color: pink;
}
.container{
    height: 50%;
  width: 70%;
  background: #EEE;
  margin: 10px auto;
  position: relative;
  text-align: center

}
.box{
    
    display:inline-block;
    border: 2px dashed #f69c55;
    height: 100px;
    width: 30%;
    vertical-align:top;
    margin: 2px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}
.botao{
    height: 50px;
    margin-left: 45%;
}
